.card-list {
    /* width: 85vw; */
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; */
    /* background: red; */
    min-width: 90%;
  }
  