
.search-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.search {
  width: 75% !important;
  flex: 1 40%;
}

.general-search-button{
  flex-basis: 25%;
}
