.card-container {
  display: flex;
  flex-direction: column;
  /* background-color: #95dada; */
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.37);
  -webkit-box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.37);
  -moz-box-shadow: 11px 13px 5px -5px rgba(0,0,0,0.37);
  /* border-radius: 5px; */
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
  width: 20%;
  margin-bottom: 1rem;
  text-align: left;

}

.card-container h2 {
  text-align: center;
}

.card-container:hover {
  transform: scale(1.05);
}

img {
  width: 180px;
  height: 180px;
}
